fastapi==0.111.0
uvicorn==0.30.1
python-dotenv==1.0.1
httpx==0.27.0

streamlit==1.40.0

pandas==2.3.3
numpy==2.3.5
scipy==1.16.2
scikit-learn==1.8.0

nltk==3.10.0
rapidfuzz==3.14.5
requests==2.32.3
pillow==11.3.0